@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* The lines `@tailwind base;`, `@tailwind components;`, and `@tailwind utilities;` are directives used
in the Tailwind CSS framework. */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* css styles of docs editor */

@import './editor.css';

body {
    font-family: 'Poppins', sans-serif;
}


/* selection color for firefix */

::-moz-selection {
    @apply text-primary bg-primary/20;
}


/* selection color for other browsers */

::selection {
    @apply text-primary bg-primary/20;
}

.pill {
    border: 1px solid #6AB8FF;
    background: linear-gradient(80deg, #2797FF 0%, #3DA1FF 0.01%, #2454FF 100%);
}